

@media (max-width: 768px) { #imagen-logo{
    width: 200px;
} }

@media (max-width: 768px) { #img-featurette {
 width: 200px;
} }

@media (max-width: 768px){ #img-featurette-edi{
    width: 250px;
}
}

@media (max-width: 1024px){ #img-featurette-edi{
    width: 250px;
}
}

@media (min-width: 1024px){ #img-featurette-edi{
    width: 450px;
}
}
